---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
import Portfolio from "../components/Portfolio.astro";
---

<Layout title="JhonEduard26 | Portfolio">

  <main>
    <Home />
    <About />
    <Portfolio />
    <Contact />
  </main>
</Layout>

<style>
  main {
    padding-top: 80px;
  }
  @media (width >= 768px) {
    main {
      max-width: 120ch;
      margin: auto;
      padding-top: 80px;
    }
  }
</style>
