---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="JhonEduard26 | Portfolio">
	<Header />
	<main>
		<section class="section section-home" id="home">
			<picture>
				<img
					class="profile-img"
					src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
					alt="profile photo"
				>
			</picture>
			<article>
				<h1 class="title">Hola, Bienvenido <span style="display: block;">Soy JhonEduard26</span></h1>
				<h2 class="accent-text title">Desarrollador Frontend</h2>
			</article>
		</section>
		<section class="section section-about">
			<h2 class="title">Acerca de mi</h2>
			<p class="paragraph">
				Apasionado desarrollador web Full Stack autodidacta y freelancer de Colombia.
				Mi pasión por el software radica en idear cosas y hacerlas realidad con elegantes interfaces.
				Pongo mucho cuidado en la experiencia, arquitectura y calidad del código de las cosas que construyo.
			</p>
		</section>
	</main>
	<Footer />
</Layout>

<style>
	main {
		padding-top: 80px;
	}
	section {
		min-height: 100dvh;
		padding: 2.4rem;
	}
	.profile-img {
		max-width: 100%;
	}
	@media (width >= 768px) {
		main {
			max-width: 120ch;
			margin: auto;
			padding-top: 80px;
		}	
		.section-home {
				display: grid;
				grid-template-columns: 3fr 2fr;
				column-gap: 1.2rem;
		}
		.section-home > picture {
			order: 1;
			margin-top: 20%;
		}
		.section-home article .title,
		.section-home article .subtitle {
			text-align: left;
		}
	}
</style>
