:root {
  --background: #1c2131;
  --title: #f6f7f8;
  --paragraph: #e1e3e5;
  --highlight: #00d0ff;
  --button: #008bf5;
  --button-alt: #0014f5;
  --action-button: #32CD32;
  --important: #FFD700;
  --block: #F2F2F2;
  background: var(--background);
  color: var(--title);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.6rem;
}

header {
  margin-top: 24px;
  padding: 8px 12px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header ul {
  display: flex;
  column-gap: 8px;
  margin-top: 8px;
}
.about {
  height: calc(100vh - 120px);
  padding: 8px 24px;
  text-align: center;
}
.about-title, .about-description {
  margin-bottom: 12px;
}
.about-title {
  display: inline-block;
  color: var(--title);
  border-bottom: 2px solid var(--highlight);
}
.about-description {
  color: var(--paragraph);
}
.inline-button {
  display: inline-flex;
  color: var(--title);
  border-bottom: 2px solid var(--highlight);
}