<section class="section" id="about">
  <h2 class="title">Acerca de mi</h2>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sequi
    alias iste autem omnis fugit impedit eius sint praesentium distinctio.
    Est quod inventore doloribus culpa nihil voluptas ducimus facere
    quisquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Voluptatibus delectus esse quod beatae, provident minima dolore quaerat.
  </p>
</section>