---
import { projects } from '../../data/projects.json'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  
  return projects.map((project) => {
    return {
      params: { title: project.slugTitle },
      props: { project }
    }
  })
}

  const { title } = Astro.params
  const { project } = Astro.props
---

<Layout title={title}>
  <h2>Pagina de prueba { project.title }</h2>
</Layout>